@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    /*--primary-color: rgb(142, 77, 255);*/
    --primary-color: rgb(253, 171, 235);
    --secondary: white;
    --main-text: black;
    --projects-background: rgb(245, 245, 245);
    --disable-background: rgba(255,255,255,0.8);
}

*{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

html, body{
    height: 100%;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header>.title{
    font-size: 3rem;
}

.header{
    padding: 10px;
    background-color: var(--primary-color);
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.project-section{
    grid-column: 1/ 2;
    background-color: var(--projects-background);
    max-width: 20vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
}

.project-header{
    font-size: 2rem;
    margin: 10px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid black;
}

.task-container{
    grid-column: 2/ 3;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 50px;
}

.task{
    /*background-color: azure;*/
    padding: 5px;
    margin:10px;
    box-shadow: 0px 3px 3px lightgrey;

}

.task-main-info{
    display: flex;
    justify-content: space-between;
}

.begin, .end{
    display: flex;
    gap: 10px;
    align-items: center;
}

.begin div, .end div{
    font-size: 1.5rem;
}

.task-title{
    max-width: 850px;
}

.task-desc{
    margin-top: 5px;
    max-width: 1100px;
}

.task-title, .task-desc{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.task-priority{
    border: 1px solid black;
    padding: 3px;
    border-radius: 10%;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}

.high-priority{
    background-color: rgb(255, 87, 87);
}

.medium-priority{
    background-color: yellow;
}

.low-priority{
    background-color: lightgreen;
}

.task-btn-container{
    margin: 10px;
}

.create-task-btn{
    font-size: 2rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--primary-color);
    border: 1px solid rgb(235, 235, 235);
    cursor: pointer;
}

.checkbox{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.completed{
    background-image: url(imgs/check.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: lightgreen;
    background-size: 15px;
}

.shown{
    display: block;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding:5px;
    border-radius: 5px;
    background-color: var(--secondary);
    border: 1px solid rgb(235, 235, 235);
}

.project-name{
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.project-buttons-container{
    display: flex;
    gap: 5px;
}

.edit-project, .edit-task{
    background-image: url(../dist/imgs/square-edit-outline.png);
    height:25px;
    width: 25px;
    background-size: 25px;
    background-position: 50% 50%;
    cursor: pointer;
}

.delete-project, .delete-task{
    background: url(../dist/imgs/trash-can-outline.png);
    height:25px;
    width: 25px;
    background-size: 25px;
    cursor: pointer;
}

.selected-project{
    background-color: var(--primary-color);
    color: var(--main-text);
}

.create-proj-container{
    display: flex;
    justify-content: end;
    width: 100%;
}

#create-project {
    margin: 10px 20px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--primary-color);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    cursor: pointer;
}

.project-form{
    /*border: 2px solid black;*/
    width: 90%;
    /*display: flex;*/
    background-color: var(--primary-color);
    padding: 5px;
    margin: 10px;
}

#submit-proj-form, #cancel-new-project, 
.task-form-btns-container button,
#submit-change-name, #cancel-change-name{
    margin: 0px 5px;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

#proj-name{
    width: 95%;
    margin: 5px;
    padding: 0px;
    font-size: 1.5rem;
}

.disable-other-clicks{
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--disable-background);
}

.new-task-form{
    background-color: var(--primary-color);
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.25rem;
    border-radius: 10px;
    border: 2px solid black;
}

.new-task-form-header, .edit-task-form-header{
    font-size: 2.5rem;
    border-bottom: 2px solid black;
    text-align: center;
}

.new-task-form input, .new-task-form label, .new-task-form select{
    display: block;
    font-size: 1.5rem;
}

.task-form-btns-container{
    display: flex;
    margin-top: 10px;
}

.new-task-desc-input{
    width: 313px;
    height: 140px;
}

.hidden {
    display: none;
}

.project:hover{
    box-shadow: 0px 0px 5px lightgray inset;
}
